<!DOCTYPE html>
<html lang="en">
<head>
	<title>Meadowlark Travel</title>
	{{{_sections.head}}}
</head>
<body>
	<header>
		<img src="/img/logo.png" alt="Meadowlark Travel Logo">
	</header>
	{{{ body }}}
	{{{_sections.script}}}
	{{!-- <p>This paragraph is from our <b><i>main</i></b> layout!</p> --}}
</body>
</html>